@model IEnumerable<WebApplication11.Models.Purchase_History>
@{
    ViewBag.Title = "Index";
}
<label>Your Cart can be fetched by using below link.</label>
<br />
<a href="https://localhost:44369/MyCarts">PROCEED</a>
<style>
    body {
        background-color: lightpink;
    }
</style>
