@model IEnumerable<WebApplication11.Models.StudentLogin>

@{
    ViewBag.Title = "Index";
}



<style>
    body {
        background-color: lightyellow
    }
</style>
<label>Please proceed to review the book</label>
<br />

<a href="https://localhost:44369/MyCarts/Create">PROCEED TO BOOK REVIEW</a>